body{
    background-color: #421010;

}

#titulo{

    color: white;
    margin-right:50px ;
    margin-left: 50px;
    float: left;
}
.barra{
    left:0;
    list-style-type:none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #721c1c;
}

.links{
    
    float: left;

}
li a{
    margin-top:20px ;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    height: 100%;

}
a:hover{

    transform: scale(1.3,1.3);
}
.links:hover{
    background-color: #0e0e0e;
    

}
.moderno{
    margin-top:200px ;
    height: 400px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    box-shadow: 4px 4px 16px;

}


img{
margin-top: 30px;
margin-left: 20px;
margin-right: 20px;
border-radius:8px ;
box-shadow: 2px 2px 4px;
float: left;
}
p{
    margin-left: 20px;
}
.habilidades{
    margin: 10px;
}
.listaHabilidades{

    transform: translate(50px,20px);
    list-style-type:square ;
    display: block;
   
}



