h1{

    text-align: center;
    color: aliceblue;
    
}
.cabezera{
    margin: 0px;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 4px;
    margin: -8px;

}
body{
    background-color: #eee;
}
p{

    text-align: center;
    margin-top: 100px;
    

}
img{
    
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 25%;
    border-radius: 50px;
}